.login {
  width: 86.5%;
  height: 100%;
  background-color: #000000;
  position: fixed;
  animation: move-left 1.5s ease-in-out 2.3s forwards;
  animation-iteration-count: 1;
  margin-top: 0;
  margin-left: 0;
}

.login:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 50vh solid transparent;
  border-bottom: 50vh solid transparent;
  border-left: 150px solid #000000;
  position: absolute;
  left: 100%;
  z-index: -1;
}

.cube {
  content: "";
  height: 90px;
  width: 90px;
  background-color: #894dc2;
  position: fixed;
  margin-left: 78%;
  margin-top: 44%;
  z-index: 2;
}

.triangle {
  content: "";
  margin-left: 1067px;
  margin-top: 644px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 80px solid #32c98f;
  position: absolute;
  rotate: z 83grad;
  z-index: 2;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: #ea4d30;
  border-radius: 50%;
  position: fixed;
  margin-left: 1229px;
  margin-top: 565px;
  z-index: 2;
}

.outline-cube1 {
  width: 200px;
  height: 100px;
  outline: 10px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  rotate: z 60grad;
  margin-top: 600px;
  margin-left: 1160px;
  z-index: 1;
}

.outline-cube2 {
  width: 150px;
  height: 120px;
  outline: 10px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  rotate: z 105grad;
  margin-top: 630px;
  margin-left: 980px;
  z-index: 1;
}

.description {
  color: white;
  font-family: Inter, sans-serif;
  font-size: 25px;
  font-weight: bold;
  position: fixed;
  margin-top: 225px;
  margin-left: 65px;
}

.title {
  color: white;
  font-family: Inter, sans-serif;
  font-size: 85px;
  font-weight: bold;
  position: fixed;
  margin-top: 95px;
  margin-left: 65px;
}

@keyframes move-left {
  0% {
    left: 0;
  }
  100% {
    left: -60%;
  }
}
