.login {
  width: 86.5%;
  height: 100%;
  background-color: #000000;
  position: fixed;
  animation: move-left 1.5s ease-in-out 1.5s forwards;
  animation-iteration-count: 1;
  margin-top: 0;
  margin-left: 0;
  z-index: 1;
}

.login:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 50vh solid transparent;
  border-bottom: 50vh solid transparent;
  border-left: 20vh solid #000000;
  position: absolute;
  left: 100%;
  z-index: 0;
}

.cube {
  content: "";
  height: 12.3vh;
  width: 12.3vh;
  background-color: #894dc2;
  position: absolute;
  left: 90.1%;
  top: 87.7%;
  z-index: 2;
}

.triangle {
  content: "";
  left: 83%;
  top: 86.8%;
  width: 0;
  height: 0;
  border-left: 7vh solid transparent;
  border-right: 7vh solid transparent;
  border-bottom: 11vh solid #32c98f;
  position: absolute;
  rotate: 85grad;
  z-index: 2;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: #ea4d30;
  border-radius: 50%;
  position: fixed;
  margin-left: 1229px;
  margin-top: 565px;
  z-index: 2;
}

.outline-cube1 {
  width: 200px;
  height: 100px;
  outline: 10px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  rotate: z 60grad;
  margin-top: 600px;
  margin-left: 1160px;
  z-index: 1;
}

.outline-cube2 {
  width: 150px;
  height: 120px;
  outline: 10px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  rotate: z 105grad;
  margin-top: 630px;
  margin-left: 980px;
  z-index: 1;
}

.description {
  color: white;
  font-family: Inter, sans-serif;
  font-size: 25px;
  font-weight: bold;
  position: fixed;
  margin-top: 225px;
  margin-left: 65px;
  animation: invisibility 3s ease-in-out 3s forwards;;
}

.title {
  color: white;
  font-family: Inter, sans-serif;
  font-size: 85px;
  font-weight: bold;
  position: fixed;
  margin-top: 95px;
  margin-left: 65px;
  z-index: 3;
}

@keyframes move-left {
  0% {
    left: 0;
  }
  100% {
    left: -60%;
  }
}

@keyframes invisibility {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
