@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.login {
  margin-top: 16%;
  margin-left: 100%;
  position: fixed;
  animation: move-left 1.5s ease-in-out 1.5s forwards;
  animation-iteration-count: 1;
}

.title {
  font-family: Comfortaa, sans-serif;
  font-weight: initial;
  margin-top: 0;
  margin-left: 0;
  font-size: 30px;
  color: #000000;
}

.input {
  margin-top: 20px;
  font-size: 16px;
  height: 40px;
  width: 300px;
  font-family: Roboto, sans-serif;
  border: 2px solid black;
}

.input:hover{
  border: 2px solid #c2bdbd;
}

.buttons {
  display: flex;
  font-size: 15px;
}

.buttonLogin {
  margin-top: 15px;
  height: 45px;
  width: 150px;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin-left: 8px;
  border-radius: 8px;
  border: 2px solid black;
}

.buttonRegister {
  margin-top: 15px;
  height: 45px;
  width: 150px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: 2px solid black;
}

.buttonRegister:hover {
  background: rgba(0, 0, 0, 0);
  color: black;
}

.buttonLogin:hover {
  background: black;
  color: #ffffff;
}

@keyframes move-left {
  0% {
    left: 0;
  }
  100% {
    left: -42%;
  }
}

