@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.register {
  margin-top: 16%;
  margin-left: 58%;
  position: fixed;
}

.title {
  font-family: Comfortaa, sans-serif;
  font-weight: initial;
  margin-top: 0;
  margin-left: 0;
  font-size: 30px;
  color: #000000;
}

.input {
  margin-top: 20px;
  font-size: 16px;
  height: 40px;
  width: 300px;
  font-family: Roboto, sans-serif;
  border: 2px solid black;
}

.input:hover{
  border: 2px solid #c2bdbd;
}

.buttons {
  display: flex;
  font-size: 15px;
}

.buttonNext {
  margin-top: 15px;
  height: 45px;
  width: 150px;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin-left: 8px;
  border-radius: 8px;
  border: 2px solid black;
}

.buttonReturn {
  margin-top: 15px;
  height: 45px;
  width: 150px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: 2px solid black;
}

.buttonReturn:hover {
  background: rgba(0, 0, 0, 0);
  color: black;
}

.buttonNext:hover {
  background: black;
  color: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.register {
  margin-top: 16%;
  margin-left: 58%;
  position: fixed;
}

.title {
  font-family: Comfortaa, sans-serif;
  font-weight: initial;
  margin-top: 0;
  margin-left: 0;
  font-size: 30px;
  color: #000000;
}

.input {
  margin-top: 20px;
  font-size: 16px;
  height: 40px;
  width: 300px;
  font-family: Roboto, sans-serif;
  border: 2px solid black;
}

.input:hover{
  border: 2px solid #c2bdbd;
}

.buttons {
  display: flex;
  font-size: 15px;
}

.buttonNext {
  margin-top: 15px;
  height: 45px;
  width: 150px;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin-left: 8px;
  border-radius: 8px;
  border: 2px solid black;
}

.buttonReturn {
  margin-top: 15px;
  height: 45px;
  width: 150px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: 2px solid black;
}

.buttonReturn:hover {
  background: rgba(0, 0, 0, 0);
  color: black;
}

.buttonNext:hover {
  background: black;
  color: #ffffff;
}

